body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
html {
    /* scroll-behavior: smooth; */
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    padding: 10px;
    overflow: auto;
    text-align: center;
    margin: 0;
}

header a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-right: 20px;
    transition: color 0.5s ease, background-color 0.5s ease, border-radius 0.5s ease;
    display: inline-table;
    padding: 10px;
}

header a:hover {
    color: black;
    background-color: white;
    padding: 10px;
    text-align: center;
    border-radius: 25px 25px 25px 25px;
}

header .logo {
    float: right; /* Логотип справа */
    margin-left: 20px; /* Добавьте необходимый отступ слева */
}

button {
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 25px 25px 25px 25px;
    font-weight: bold;
    cursor: pointer;
}

/* button:hover {
    color: black;
} */

#name {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 25px 25px 25px 25px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 21px;
    padding: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}
  
input[type="text"] {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 25px 25px 25px 25px;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 21px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
    min-width: 300px;
}
button[type="submit"] {
    background-color: black;
    padding: 10px;
    min-width: 340px;
    border: none;
    border-radius: 25px 25px 25px 25px;
    color: white;
    font-size: 21px;
    font-family: "Helvetica Neue", sans-serif;
}

button[type="submit"]:hover{
    color: black;
    background-color: white;
    border-color: black;
    border: 0.1rem solid;
}
section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

h2 {
    text-align: right;
    color: black;
    font-family: "Helvetica Neue";
}

p {
    text-align: left;
    color: black;
    font-family: "Helvetica Neue";
}

@media (max-width: 768px) {
    body {
      font-size: 18px;
      margin: 20px;
    }
  
    header {
        background-color: black;
        color: white;
        padding: 10px;
        overflow: auto;
        text-align: center;
        margin: 0;
        position: relative;
      }
      
      header.collapsed {
        display: none;
      }
      
      header a {
        color: white;
        font-weight: bold;
        text-decoration: none;
        margin-right: 20px;
        transition: color 0.5s ease, background-color 0.5s ease, border-radius 0.5s ease;
        display: inline-table;
        padding: 10px;
      }
      
      header a:hover {
        color: black;
        background-color: white;
        padding: 10px;
        text-align: center;
        border-radius: 25px 25px 25px 25px;
      }
      
      header .logo {
        float: right; /* Логотип справа */
        margin-left: 20px; /* Добавьте необходимый отступ слева */
      }
      
      button {
        background-color: transparent;
        color: black;
        border: none;
        border-radius: 25px 25px 25px 25px;
        font-weight: bold;
        cursor: pointer;
      }
      
      /* button:hover {
          color: black;
      } */
      
      #show-header {
        position: absolute;
        top: 0;
        right: 0;
      }
  
    
    #name {
      padding: 5px;
    }
  
    input[type="text"] {
      padding: 5px;
      min-width: 200px;
    }
  
    button[type="submit"] {
      padding: 5px;
      min-width: 200px;
    }
  
    section {
      padding: 10px;
      border-radius: 5px;
    }
  
    h2 {
      font-size: 18px;
    }
  
    p {
      font-size: 14px;
    }
  }
  


